<%- include('header.html'); -%>
<a-scene embedded arjs>
  
  
  <!-- <a-camera position="-0.7 2.7 0.5"></a-camera> -->

  <a-entity vimeo="id: 483770237" loop webkit-playsinline playsinline>
    <a-plane color="#F00000" scale="3.2 1.8" position="0.0 3.4 -20.0" loop webkit-playsinline></a-plane>
  <!--  was position="0.0 3.4 -2.0"  -->
  </a-entity>

<div id="playoverlay">
      <button id="play-button">Play / Pause</button>
    </div>

    <script src="https://aframe.io/aframe/dist/aframe.js"></script>
    <script src="../dist/iphone-inline-video.browser.js"></script>
    <script>
      (function() {
        var video = document.querySelector('#video');
        window.makeVideoPlayableInline(video, /* mute necessary for autoplay*/ false);

        var playButton = document.querySelector('#play-button');
        playButton.addEventListener('click', function(e) {
          if (video.paused) {
            video.play();
          } else {
            video.pause();
          }
        });
      })();
    </script>

</a-scene>
<%- include('footer.html'); -%>
